body {
    background-image: url("../images/background-about.jpg");
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
}

@font-face {
    font-family: "Edo";
    src: url("../fonts/edo.ttf");
}
#title {
    margin: 20px 150px;
    font-size: 75px;
    font-family: "Edo";
    color: white;
}

.content {
    width: 45vw;
    margin: 30px 60px;
    text-align: justify;
}

.content p {
    font-family: "Open Sans";
    font-size: 20px;
    color: white;
}

.content span {
    display: flex;
    justify-content: center;
    text-align: center;
}


