body {
  background-image: url("../images/background-home.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
}

.form {
  position: relative;
  border-radius: 50px;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 30px !important;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.form-input:focus {
  box-shadow: none !important;
  border: none !important;
}

.search-box {
  margin-top: 300px !important;
}

.categories {
  display: flex;
  justify-content: space-evenly;
}

.center {
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.32);
  border-radius: 50%;
  color: white;
  font-size: 42px;
}

.category-container {
  display: inline-block;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: cover;
  margin: 50px;
} 