body {
  background-image: url("../images/background-home.jpg");
  background-repeat: no-repeat;
  background-position: initial;
}

.form {
  position: relative;
  border-radius: 50px;
}

.form span {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 35px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 30px !important;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: 'Alegreya Sans SC';
  font-size: 28px !important;
}

.form-input::placeholder {
  color: #C4C4C4 !important;
}

.form-input:focus {
  box-shadow: none !important;
  border: none !important;
}

.search-box {
  margin-top: 300px !important;
}

h2 {
  font-family: 'Alegreya Sans SC';
  font-weight: 800 !important;
  margin: 30px 0 0 50px !important;
  border-bottom:2px solid black;
  padding-bottom:2px;
  display: inline-block;
}

.categories {
  display: flex;
  justify-content: space-evenly;
}

.center {
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.32);
  border-radius: 50%;
  color: white;
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center p {
  font-family: 'Alegreya Sans SC';
}

feed-card {
  display: inline-block;
  width: 80vw;
  margin: 0 10vw;
}

.recipe-card {
  margin-bottom: 10vh !important;
}

.category-container {
  display: inline-block;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 50px;
} 

.recipe-card:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.complexity-btn{
  position: absolute;
  width: 21%;
  height: 10%;
  margin-left: 1.5%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.264);
}

.complexity-level {
  font-size: 22px;
  font-weight: 400;
  color: white;
}

.card-title {
  margin-left: 2%; 
  display: inline-block;
}

.view-count {
  float: right; 
  line-height: 1.2em; 
  margin-left: 0;
  font-size: 15px;
  margin-right: 5.5%;
}

.right {
  float: right;
  width: 30%;
}

.stats span {
  font-size: 30px !important;
  float: left;
  margin-right: 4%;
}

.stats h6 {
  font-family: 'Alegreya Sans SC';
  font-weight: 700;
  font-size: 25px;
}

.rating span {
  font-size: 30px;
}

.comments-count {
  float: right; 
  line-height: 1.2em; 
  margin-left: 0; 
  font-size: 15px; 
  margin-right: 0.36%;
}

.recipe-card {
  background: linear-gradient(to bottom, orange, transparent);
  border-radius: 10px;
  margin: auto;
  padding: 10px;
}

.recipe-card .card-title {
  font-size: 48px;
  font-family: 'Alegreya Sans SC';
  font-weight: 700;
}

.user-info p {
  display: inline-block;
  font-size: 20px;
  margin-left: 2%;
}
