body {
    background: linear-gradient(180deg, #D6F3FB 58.33%, #FFFFFF 100%);
    background: no-repeat;
}

.intro {
    margin-top: 2%;
    display: inline-block;
}

.image {
    float: right;
}

.heading {
    font-family: 'Alegreya Sans Sc';
    font-weight: 700;
    margin-left: 2%;
    font-size: 4vw;
}

.rating span {
    font-size: 20px;
    margin-top: 1%;
    margin-left: 2%;
}

img {
    width: 30% !important;
    height: 30% !important;
    float: right;
}

p {
    padding: 0;
    margin-right: 0 !important;
    width: 40%;
    margin-top: 2% !important;
    margin-left: 2%;
    font-family: 'Alegreya Sans';
    font-size: 2vw;
    display: inline-block;
}