body {
    background: linear-gradient(180deg, #D6F3FB 0%, #FFFFFF 100%);
    background-repeat: no-repeat;
}

.heading-image {
    margin-top: 1%;
}

.heading {
    font-family: Allan;
    font-weight: 700;
    font-size: 4vw;
    display: inline-block;
    margin-left: 5% ;
}

.image {
    margin-left: 10%;
    margin-right: 4%;
    width: 20%;
    height: 20%;
}

.btn {
    background-color: #EF8041 !important;
    color: white !important;
}

.btn:hover {
    background-color: #E96D26 !important;
}

h3 {
    font-family: 'Alegreya Sans SC'; 
    font-weight: 700 !important; 
    font-size: 3vw !important; 
    margin-left: 5%;
}